body {
  background-color: rgba(245, 245, 245, 0.96);
}

.ProjectEm_box {
  width: 600px;
  height: 762px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.ProjectEm_title {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding-top: 30px;
}

hr {
  width: 600px;
  height: 9px;
  flex-shrink: 0;
  background: #d2691e;
}

.projectEm_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projectEm_li {
  display: inline-block;
  margin-right: 60px;
  margin-left: 30px;
}