body {
  background-color: rgba(245, 245, 245, 0.96);
}

.ProjectEm_box {
  width: 600px;
  height: 762px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.ProjectEm_title {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding-top: 30px;
}

hr {
  width: 600px;
  height: 9px;
  flex-shrink: 0;
  background: #d2691e;
}

.projectEm_ul {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.projectidEm_li {

  display: inline-block;
  margin-right: 40px;
  margin-left: 30px;
}
.projectnameEm_li {
  display: inline-block;
  margin-right: 85px;
  margin-left: 30px;
}
.projectseEm_li {
  display: inline-block;
  margin-right: 85px;
  margin-left: 30px;
}
.projectfinalEm_li {
  display: inline-block;
  margin-right: 60px;
  margin-left: 30px;
}

.projectEmdata_ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projectidEmdata_li {
  display: inline-block;
  width:30px;
  margin-left: 30px;
}

.projectnameEmdata_li {
  display: inline-block;
  width:110px;
  margin-left: 30px;
}

.projectseEmdata_li {
  display: inline-block;
  width: 135px;
  margin-left: 30px;
}

.projectfinalEmdata_li {
  display: inline-block;
  font-size: 12px;
  margin-left: 40px;
}

.project_line {
  border-top: 1px solid;
  padding-top:8px;
  padding-bottom:6px; margin-right: 30px;

}